@font-face {
    font-family: myFirstFont;
    src: url(../font/varela.woff2);
}


*  {
    margin:0;
    padding:0;
    font-family: myFirstFont;
}



h2 { font-family: Arial, sans-serif; color: #3399CC; font-size: 30px; font-weight: bold; border-bottom: 1px dashed #ccc; margin: 0px 0px 0px 0px;  }
.geral {
    min-height:100%;
    position:relative;

}
.header{
    background-color: #236B8E;
    height: 70px;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #236B8E;
    color: white;
}

.content {overflow:hidden; padding-bottom: 30px}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}


table.view {border: 1px solid #dfdfdf; background-color: #fff; clear: both; margin-bottom: 10px;}
table.view tr th {  padding: 10px; background-color: #e7e7e7; color: #3399CC; border-bottom: 0px; text-align: left; cursor: pointer;}
table.view tr td { padding: 10px; border-bottom: 1px solid #dfdfdf; vertical-align: middle; }
table.view tr td a { font-weight: normal; text-decoration: none; padding: 0px 5px 0px 0px; }
table.view tr td a:hover { text-decoration: underline; }
table.view tr td div.operations a { font-size: 12px; margin-right: 15px; text-decoration: none; text-transform: lowercase; }
table.view tr td img { margin: 0px; padding: 0px; }

#botao_logout{
    color: red;
}